/* Define your CSS styles here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row; /* or column for vertical layout */
    justify-content: space-between; /* or other values to adjust alignment */
  }

/*basket links start*/


  /*basket links end*/
