/* Define your CSS styles here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row; /* or column for vertical layout */
    justify-content: space-between; /* or other values to adjust alignment */
  }
  

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 10px;
    z-index: 9999; /* Ensure the element stays on top of other elements */
    background-color: #f8f9fa; /* Adjust the background color as needed */
    padding: 10px;
    border-radius: 50%;
}

/*nav links start*/
.nav {
    text-align: center;
    font-weight: 600;
   
  }
  
  .nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  
  }
  
  .nav li {
    display: inline-block;
    list-style: outside none none;
  
  
        
  }
  
  .nav a {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav a::before,
  .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: #3DA35D;
  }
  
  
  
  
  .container {
      position: fixed; /* Stay fixed */
    top: 4%;
    left: 18%;
      z-index: 2;
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      
      border-radius: 60px;
  }
  /*nav links end*/
